/* styles.css */
body {
  font-family: Arial, Helvetica, sans-serif;
}
.open-button {
  background-color: #28b47f;
  color: white;
  padding: 10px 5px;
  border: none;
  width: 8rem;
  border-radius: 5%;
  z-index: 1000; /* Ensure it's on top */
}

.open-button:hover {
  opacity: 1;
}
/* Spinner styling */
#spinner {
  display: none; /* Hidden by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid #f3f3f3;
  border-top: 8px solid #007bff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  z-index: 1000; /* Ensure it's on top */
}

/* Spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal-content {
  font-family: monospace;
  font-size: 14px;
  background-color: #2d2d2d;
}
.modal-title {
  color: white;
}
pre {
  margin: 0;
}